body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    background: url(bgimg3_2.jpg) no-repeat;
    /* Set a light background color */
    background-repeat: no-repeat;
    /* Prevents background image from repeating */
    background-size: cover;
}


h1 {
    font-weight: bold;
}

.header {
    background-color: black;
    /* color: pink; */
    color: rgba(218, 101, 17, 0.918);
    /* color: rgba(255, 255, 255, 0.792); */
    /* color: rgba(6, 173, 250, 0.929); */
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-family: cursive;
}

.container {
    display: flex;
    justify-content: space-around;
    /* align-items: stretch; */
    /* Align columns evenly */
    flex-wrap: wrap;
    /* Allow columns to wrap to the next line on smaller screens */
    margin: 0 auto;
    max-width: 1200px;
    /* Set a maximum width for the container */
}

.column {
    flex: 1;
    flex-basis: calc(25% - 40px);
    /* Set column width to 25% minus padding */
    padding: 10px;
    padding-left: 10px;
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.792);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.column h2 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
    /* color: #666 */
    color: rgba(0, 0, 0, 0.771);
    font-family: sans-serif;

}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: 100px;
    /* Set a fixed width for the circular images */
    height: 100px;
    /* Set a fixed height for the circular images */
    border-radius: 50%;
    margin: 10px auto;
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
    display: block;
}

.image-container img:hover {
    transform: scale(1.4);
    /* Scale up the image on hover */
}

.image-container p {
    margin-top: 5px;
    font-size: 14px;
    /* color: #666; */
    color: rgba(0, 0, 0, 0.633);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.column p {
    margin-top: 5px;
    font-size: 15px;
    /* color: #666; */
    color: rgba(0, 0, 0, 0.633);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: large;
}